@import url('https://fonts.googleapis.com/css2?family=Doto:wght@800&display=swap');
@import "tailwindcss";

@theme {
  
  --color-beige: lch(94.45 0 0);
  --font-primary: "Doto", "serif";
}

/* Thèmes clairs & sombres */
:root {

  --background: #e8e7e8;
  --foreground:rgb(12, 49, 16);
  
  /* --primary: lch(61.47 59.93 131.29 / 92.18%); */

/* --color-prout : red; */




  /* --input: #ffffff;
  --muted: #e5e7eb;
  --border: #d1d5db;
  --shadow-light: 6px 6px 12px #d1d9e6, -6px -6px 12px #ffffff;
  --radius: 1rem; */
  /* test: red */
}

.dark {
  --background: #2b2b31;
  --foreground: #303036;
/* --color-prout : red; */
  /* --primary:rgb(60, 100, 61);

  --primary-foreground: #111827; */

  --input: #2d3748;
  --muted: #374151;
  --border: #4b5563;
  --shadow-light: 6px 6px 12px #161b22, -6px -6px 12px #27303f;
  --radius: 1rem;
}

@layer base {
  /* [data-theme='ocean'] {
    --color-primary: #aab9ff;
  }

  [data-theme='rainforest'] {
    --color-primary: #56d0a0;
  }

  [data-theme='candy'] {
    --color-primary: #f9a8d4;
  } */
  body {
    @apply bg-[var(--background)] text-[var(--foreground)] ;
    /* font-family: var(--font-poppins), sans-serif; */

  }
}

/* LOADING */
@keyframes pulse-dot {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
  50% {
    transform: scale(1.2);
    background-color: #6793fb;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }
  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}

.animate-pulse-dot {
  animation: pulse-dot 1.5s infinite ease-in-out;
}
/* LOADING */

