@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  
  --color-beige: lch(94.45 0 0);
  --color-primary: lch(90.07 19.38 142.05);
  --font-primary: "Doto", "serif";
}

/* Thèmes clairs & sombres */
:root {

  --background: #e8e7e8;
  --foreground:lch(12.23 19.38 142.05);
  }

.dark {
  --background: #2b2b31;
  --foreground: #303036;

  --input: #2d3748;
  --muted: #374151;
  --border: #4b5563;
  --shadow-light: 6px 6px 12px #161b22, -6px -6px 12px #27303f;
  --radius: 1rem;
}

@layer base {
  body {
    @apply bg-[var(--background)] text-[var(--foreground)] ;
  }
}

/* LOADING */
@keyframes pulse-dot {
  0% {
    transform: scale(0.5);
    background-color: var(--color-primary);
  }
  50% {
    transform: scale(1.2);
    background-color: var(--color-primary);
  }
  100% {
    transform: scale(0.5);
    background-color: var(--color-primary);
  }
}

.animate-pulse-dot {
  animation: pulse-dot 1.7s infinite ease-in-out;
}

/* LOADING */

